<ion-view view-title="Pick your Locations">
  <ion-content class="padding">
    
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    
    <div class="button-bar">
      <button class="button button-large button-balanced button-block" >
        Select All
      </button>
    </div>
    
    
    
    <ion-list>
      <ion-item ng-repeat="location in locations" href="#/app/location/{{location.id}}">
       {{location.title}}
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
