<ion-view view-title="Map">
  <ion-content class="padding">
    
    
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>  
  <script src='/path/to/lodash[.min].js'></script>
  <script src='/path/to/angular[.min].js'></script>
  <script src='/path/to/angular-simple-logger/angular-simple-logger[.min].js'></script>
  <script src='/path/to/angular-google-maps[.min].js'></script>
  
  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    
  </ion-content>
</ion-view>
